<br>
<br>
<div class="alert alert-warning alert-dismissible h3 danger show" role="alert">
  <strong><%= I18n.t('web.order_cancellation.list.error_text')%></strong><%= I18n.t('web.order_cancellation.list.error_text_reason')%>
</div>